<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jared.ourmusic" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.our_music.gui.LoginActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.our_music.gui.HomeActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.our_music.gui.HomeActivity" />
        </activity>

        <activity
            android:name="com.our_music.gui.CreateUserActivity"
            android:label="@string/create_account"
            android:parentActivityName="com.our_music.gui.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.our_music.gui.LoginActivity" />
        </activity>

        <activity
            android:name="com.our_music.gui.SearchActivity"
            android:label="@string/search_header"
            android:parentActivityName="com.our_music.gui.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.our_music.gui.HomeActivity" />
        </activity>

        <activity android:name="com.our_music.gui.AddSongActivity"
            android:label="@string/add_song"
            android:parentActivityName="com.our_music.gui.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.our_music.gui.HomeActivity" />
        </activity>

        <activity android:name="com.our_music.gui.AddFriendActivity"
            android:label="@string/add_friend"
            android:parentActivityName="com.our_music.gui.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.our_music.gui.HomeActivity" />
        </activity>

        <activity
            android:name="com.our_music.gui.ResultsActivity"
            android:label="@string/results_heading"
            android:parentActivityName="com.our_music.gui.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.our_music.gui.SearchActivity" />
        </activity>

    </application>

</manifest>
